@use 'globals';
@use 'variables' as g;

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 3rem;

    background-color: g.$black4;

    & li {
        list-style-type: none;
    }

    & div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;


        & li {
            a {
                color: white;
                text-decoration: none;
            }
            h1 {
                font-size: 1.3rem;
                color: white;
                text-decoration: none;
                margin: 0;
                padding: 10px;

                &:after {
                    display: block;
                    content: '';
                    border-bottom: 2px white solid;
                    transition: transform 250ms ease-in-out;
                    transform: scaleX(0); 
                }
                &:hover:after, &.active:after {
                    transform: scaleX(1); 
                }
            }
        }
    }

    &-logo {
        padding-left: 1rem;
        width: 3rem;

        & img {
            height: 2.7rem;
            width: 2.7rem;
            transition: 200ms ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}