@use 'globals';
@use 'variables' as g;

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 901;

    width: 100%;
    height: 3rem;

    background-color: g.$black4;

    & li {
        list-style-type: none;
    }

    & .desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;


        & li {
            a {
                color: white;
                text-decoration: none;
            }
            h1 {
                font-size: 1.3rem;
                color: white;
                text-decoration: none;
                margin: 0;
                padding: 10px;

                &:after {
                    display: block;
                    content: '';
                    border-bottom: 2px white solid;
                    transition: transform 250ms ease-in-out;
                    transform: scaleX(0); 
                }
                &:hover:after, &.active:after {
                    transform: scaleX(1); 
                }
            }
        }
    }

    &-logo {
        padding-left: 1rem;
        width: 3rem;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 910;

        & img {
            height: 2.7rem;
            width: 2.7rem;
            transition: 200ms ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &.mobile {
        height: 5rem;

        display: flex;
        justify-content: space-between;

        .mobile-view {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .navbar-logo {
            img {
                height: 3.5rem;
                width: 3.5rem;
            }
        }

        .navbar-icon {
            width: fit-content;
            margin-right: 1rem;
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

            svg {
                transition: 250ms ease;
                color: white;
                height: 50%;
                z-index: 910;
            }

            & .active, &:hover {
                svg {
                    transform: translateY(-200%);
                }

                + .navbar-items {
                    top: 5rem;
                }
            }
        }
    }

    &-items {
        display: flex;
        position: fixed;
        left: 0;
        top: -4rem;
        width: 100%;
        z-index: 900;
        transition: 250ms;

        li {
            width: 100%;
            background-color: g.$black4;
            text-align: center;
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;

            a {
                color: white;
                text-decoration: none;
                height: fit-content;

                &:after {
                    display: block;
                    content: '';
                    border-bottom: 2px white solid;
                    transition: transform 250ms ease-in-out;
                    transform: scaleX(0); 
                }
                &:hover:after, &.active:after {
                    transform: scaleX(1); 
                }

                h1 {
                    width: fit-content;
                    margin: 0;
                }
            }
        }
    }
}