$black1: rgb(7,7,7);
$black2: rgb(14, 14, 14);
$black3: rgb(21, 21, 21);
$black4: rgb(28, 28, 28);
$black5: rgb(35, 35, 35);
$black6: rgb(42, 42, 42);
$black7: rgb(49, 49, 49);
$black8: rgb(56, 56, 56);
$black9: rgb(63, 63, 63);
$black10: rgb(70, 70, 70);